<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: rgb(197, 195, 195);
        }

        .container {
            width: 40%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .input {
            width: 100%;
            height: 30px;
            border-radius: 10px;
            border: white;
            margin: 10px 0;
        }

        .button {
            width: 100%;
            height: 35px;
            background-color: blue;
            border-radius: 10px;
            margin: auto;
            border: solid 5px blue;
            color: white;
        }

        .mensaje-error {
            color: tomato;
            margin: 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <%- include('partials/nav-bar'); %>
        <h1>Formulario de Login</h1>      
        <form method="POST" action="/user/login">
            <label for="">Correo Electronico:</label>
            <input type="text" name="mail" class="input">
            <% if(locals.errors && errors.mail) { %>
                <p class="mensaje-error"><%= errors.mail.msg %> </p>   
            <% } %>
            <br>
            <label for="">Password:</label>
            <input type="password" name="password" class="input">
            <br>
            <button type="submit" class="button">Loguearse</button>
            <label for="">Recordarme:</label>
            <input type="checkbox" name="rememberMe">
            </form>
    </div>
</body>
</html>