<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-color: rgb(197, 195, 195);
        }

        .container {
            width: 40%;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .input {
            width: 100%;
            height: 30px;
            border-radius: 10px;
            border: white;
            margin: 10px 0;
        }

        .button {
            width: 100%;
            height: 35px;
            background-color: blue;
            border-radius: 10px;
            margin: auto;
            border: solid 5px blue;
            color: white;
        }

        .mensaje-error {
            color: tomato;
            margin: 0;
        }

        .avatar {
            height: 250px;
            width: 250px;
            border-radius: 50%;
            
        }

        
    </style>
</head>

<body>
    <div class="container">
        <h1>User Profile</h1>
        <h3>Hola Usuario: </h3>
        <img src="/images/avatars/1658100728101img.jpg" alt="foto-perfil" class="avatar">   
        <h4>mail</h4>
   </div>
</body>
</html>